<p>
  <b>Fname:</b>
  <%=h @user.fname %>
</p>

<p>
  <b>Lname:</b>
  <%=h @user.lname %>
</p>

<p>
  <b>Rating:</b>
  <%=h @user.rating %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
