<%= error_messages_for 'game' %>
<!--[form:game]-->

<% if @found_set %>
  <center>
  <div style="width:600;border:1px solid black;"> Congratulations!
  <%= render_threecard_set @found_set %>
  is a valid three-card set.
  </div>
  </center>
<% end %>
<h3>This is your <%= @game.decks.length.ordinalize %> deck, with
    <%= number_noun_desc( @game.current_deck.facedown_length, 'card' ) %> remaining. </h3>
<h3><%= number_noun_desc( @game.set_count, 'set' ) %> can be found among the cards below: </h3>

<% if @tmp %>
  <h3> Params: <%= @tmp %></h3>
<% end %>

</p>
<%= render :partial => 'board' %>
<br />

