<%= error_messages_for 'game' %>
<!--[form:game]-->

<% if @found_set %>
  <center>
  <div style="width:600;border:1px solid black;"> Congratulations!
  <%= render_threecard_set @found_set %>
  is a valid three-card set.
  </div>
  </center>
<% end %>
<h3>The deck has <span id="remaining"><%= number_noun_desc( @game.deck.facedown.length, 'card' ) %></span> cards remaining. </h3>
<h3><span id="num_sets"><%= number_noun_desc( @sets.length, 'set' ) %></span> can be found among the cards below: </h3>

<% if @tmp %>
  <h3> Params: <%= @tmp %></h3>
<% end %>

</p>
<table border=0 width=<%= Game::BOARD_TABLE_WIDTH %> id="setboard">
<tr height=<%= Game::BOARD_CELL_HEIGHT %>>
<% @game.field.each_with_index do |c,i| %>
  <% if ((i % Game::VIEW_COLS == 0) && (i > 0)) %>
    </tr><tr>
  <% end %>
  <td align=center valign=center id=cell<%= i.to_s %> width=<%= Game::BOARD_CELL_WIDTH %> height= <%= Game::BOARD_CELL_HEIGHT%> >
  <%= check_box_tag(('card' + i.to_s), 'SELECTED', false) %>
  <%= card_image c %>
  </td>
<% end %>
</tr>
</table>
<br />

