<%= error_messages_for 'game' %>
<!--[form:game]-->

<div id="right_panel" style="float:left;">
  <div id="score_panel">
    <h2>Game Score</h2>
    <ul id="score_listing">
    <% @game.scores.each do |score| %>
      <li><%= score.player.name %>: <span id="gamescore_<%= score.player.id %>"><%= score.points %></span></li>
    <% end %>
    </ul>
  </div>
  <div id="activity_panel">
    <h2>Game Activity</h2>
    <ul id="set_records">
    <% @game.sets.each do |set| %>
      <li><h5><%= formatted_date(set.created_at) %></h5>
	  <p class="setlisting"><%= "#{set.score.player.name} found " + render_threecard_set(set) %></p></li>
    <% end %>
    </ul>
  </div>
</div>

