<h1 class="setsolver">Game Archive: <%=@game.title %></h1>
<% if @game.finished? %>
  <p><b>Game started:</b> <%= h @game.started_at %> </p>
  <p><b>Game completed:</b> <%= h @game.finished_at %> </p>
  <p id="buttons">
    <%= link_to 'Back to Games', games_path, :class => "mock-fb-button" %>
  </p>
  <%= render :partial => 'sets_selected' %>
<% else %>
  <p>No archive data exists for this game.</p>
  <p><%= link_to '[ << Back to Game ]', game_path, :class => "mock-fb-button" %></p>
<% end %>

