<h1>Editing game <%= @game.title %></h1>

<%= error_messages_for :game %>

<% if @player %>
  <% form_for(@game) do |f| %>
    <p>
      <b>Selection Count:</b>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.submit "Edit", :class => "fb-button" %>
    </p>
  <% end %>
<% end %>
<%= link_to '<< Back to games', games_path %>



