<h1><%= @player.name %>'s games</h1>
<h2></h2>

<% for game in @player.games %>
    <p><%= game_desc_as_link(game) %> (<%= game.player_names %>):  <%= game_play_link(game) %>
    </p>
<% end %>

<p>
  <%= link_to 'Create new game', new_game_path %>
</p>

</fb:serverfbml>