<% content_for :html_head do %>
  <%= stylesheet_link_tag "play" %>
  <%= javascript_include_tag "play" %>
<% end %>

<% if @score %>
  <h1 class="setsolver">Game <%= @game.title %></h1>
  <% if @game.active? %>
    <p id="submitbar" style="display:none;">Submitting set; waiting for response <img src="/images/spinner.gif"></p>
    <% form_tag :action => 'play', :id => @game do %>
      <div id="body">
        <%= render :partial => 'gamefield' %>
        <%= render :partial => 'rightpanel' %>
      </div>
      <%= submit_tag 'Submit Three Card Set', :class => "fb-button" %>
    <% end %>
  <% else %>
    <p>This game has not yet started.</p>
    <p><%= link_to '[ << Back to Game ]', game_path %></p>
  <% end %>
<% end %>
<p />
<p>
<%= link_to '[ << Back to List of Games ]', games_path %>
</p>

