<% content_for :html_head do %>
  <%= javascript_include_tag "play" %>
<% end %>

<h1 class="setsolver">Game <%= @game.title %></h1>
<p align=right>
<%= link_to '[ << Back to List of Games ]', player_games_path %>
</p>
<% if @game.active? %>
  <p id="submitbar" style="display:none;">Submitting set; waiting for response <img src="/images/spinner.gif"></p>
  <% form_tag :action => 'play', :id => @game do %>
    <div id="setgame">
      <%= render :partial => 'gamefield' %>
      <div id="score_panel" style="float:right; width:300px;">
	
      </div>
    </div>
    <%= submit_tag 'Submit Three Card Set' %>
  <% end %>
<% else %>
  <p>This game has not yet started.</p>
  <p><%= link_to '[ << Back to Game ]', player_game_path %></p>
<% end %>

