<p>
  <b><%= @game.listing %>  (<%= @game.player_names %>)</b>
</p>

<% if @game.active? %>
  <p><b>Started on:</b> <%=h @game.created_at %>
    <ol>
    <% @game.scores.each do |sc| %>
      <li><%= sc.player.name %>: Score = <%= sc.points %>
      </li>
    <% end %>
    </ol>
    Total number of sets found: <%= @game.selection_count %>
  </p>
  <p><%= link_to "Continue Playing", play_path(@game) %></p>
<% elsif !(@game.started?) %>
  <p>Game not yet started. Press the "Start Game" button to start playing:</p>
  <p>
    <% form_tag :action => 'play', :id => @game do %>
      <div>
	<%= submit_tag 'Start Playing!', :class => "fb-button" %>
      </div>
    <% end %>
  </p>
  <%= link_to 'Edit', edit_game_path(@game) %> |
<% end %>
<%= link_to '<< Back to games', games_path %>

