<h1>Listing players</h1>

<% for player in @players %>
  <div class="setsolver-item" style="padding:5px; indent-left:15px; border:1px solid black;">
    <p><b>#<%= player.id %>: <%= link_to player.name, player_path(player) %> (Rating=</b> <%= player.rating %>)</p>
    <ul>
    <% for game in player.games %>
      <li><%= game_number_as_link(player, game) %>: <%= link_to "Play game", play_path(player,game) %>
      </li>
    <% end %>
    </ul>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player_path(player), :confirm => 'Are you sure?', :method => :delete %></td>
  </div>
<% end %>

<%= link_to 'New Player', new_player_path %>
