<p><b><%= @player.name %></b> (Rating= <%= @player.rating %>)</p>
<p><%= link_to "Create new game for #{@player.fname}", new_player_game_path(@player) %></p>
<ul>
<% for game in @player.games %>
  <li> Game <%= game.id %> (<%= game.player_names %>): 
      <%= link_to "Play game", play_path(@player,game) %> |
      <%= link_to "Show game", player_game_path(@player,game) %> |
      <%= link_to "Edit game", edit_player_game_path(@player,game) %>
  </li>
<% end %>
</ul>


<%= link_to "Edit #{@player.fname}'s info", edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
