<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <title><%= @user.name %>'s Setsolver games</title>
  <%= stylesheet_link_tag "setsolver-fb" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.query.js" %>
  <%= javascript_include_tag "setsolver.js" %>

<%= yield :html_head %>

</head>

<%= token_tag %>

<body class="setsolver fbbody">

<%= fb_connect_javascript_tag %>
<link rel="stylesheet" href="http://static.ak.facebook.com/css/fb_connect.css" type="text/css" />
<script type="text/javascript">
  FB.init("389143926591c28e4f4b50d46cce3414", "/xd_receiver.htm");
  FB.Connect.requireSession();
</script>

<% init_fb_connect('XFBML', 'Api', :js => :jquery) do %>
  <%= fb_connect_stream_publish( flash[:user_action_to_publish] ) if flash[:user_action_to_publish]  %>
<% end %>

<p id="notice" style="display:<%= flash[:notice] ? 'block' : 'none' %>"><%= flash[:notice] %></p>
<p id="error" style="display:<%= flash[:error] ? 'block' : 'none' %>"><%= flash[:error] %></p>

<%= yield %>

</body>
</html>
