<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <title>Games: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "setsolver-fb" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.query.js" %>
  <%= javascript_include_tag "setsolver.js" %>

<%= yield :html_head %>

</head>

<%= token_tag %>

<body class="setsolver">

<%= fb_connect_javascript_tag %>
<%= init_fb_connect('XFBML', :js => :jquery) %>

<% if true %>
<link rel="stylesheet" href="http://static.ak.facebook.com/css/fb_connect.css" type="text/css" />
<script src="http://static.ak.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php" type="text/javascript"></script>
<script type="text/javascript">
    FB.init("389143926591c28e4f4b50d46cce3414", "/xd_receiver.htm");
</script>
<% end %>

<p id="notice" style="display:<%= flash[:notice] ? 'block' : 'none' %>"><%= flash[:notice] %></p>
<p id="error" style="display:<%= flash[:error] ? 'block' : 'none' %>"><%= flash[:error] %></p>

<%= yield %>

</body>
</html>
