<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <title>Games: <%= controller.action_name %></title>
  <%= stylesheet_link_tag "setsolver" %>
  <%= javascript_include_tag "jquery.min.js" %>
  <%= javascript_include_tag "jquery.query.js" %>
  <%= javascript_include_tag "setsolver.js" %>

<%= yield :html_head %>

</head>

<%= token_tag %>

<body class="setsolver">

<p id="notice" style="color:green"><%= flash[:notice] %></p>
<p id="error" style="color:red"><%= flash[:error] %></p>

<%= yield %>

</body>
</html>
